body{font: 100% Arial, Helvatica, sans-serif;}

:root{--global-color-1: #800000FF;}

header img{ float: left}

main{clear:left}

header h1, header h2, main h2{ color: var(--global-color-1);}

main h1{font-size:150%;}
main h2{font-size:130%;}
main h3{font-size:105%;}

header h2{
    font-size:170%;
    text-indent: 30px;
}
header h3{
    font-size:130%;
    text-indent: 30px;
    font-style: italic;
}

a:link a:focus :hover{font-style:italic;}
footer p{text-align:center;}
.shadow{
    /*color : var(--global-color-1);*/
    text-shadow: 2px 2px 2px var(--global-color-1);
}
